
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test</h2>
<br />
<h1 style="color:aqua">Merhaba dünya</h1>

<a href="/home/deneme" class="btn btn-primary">Deneme sayfasına git</a>