@model AdminPanelliDinamikCV_App.Models.Entity.CertificateAwards

@{
    ViewBag.Title = "CerAwardGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Certificate&Awards Update Page</h4>
<br />

<form method="post">
    @Html.Label("Comment")
    @Html.TextBoxFor(x => x.Comment, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Update</button>
    
    <a href="/CertificateAwards/DeleteCerAward/@ViewBag.d" class="btn btn-danger">Delete</a>
   
</form>
