@using AdminPanelliDinamikCV_App.Models.Entity
@model List<CertificateAwards>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
 
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                    
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header p-2">
                                   
                                </div>
                                <div class="card-body">
                                    <div class="tab-pane" id="timeline">

                                        <div class="timeline timeline-inverse">
                                            @foreach (var item in Model)
                                            {
                                                <div class="time-label">
                                                    <a href="/CertificateAwards/CerAwardGet/@item.Id" class="btn btn-success btn-sm">
                                                        <span class="bg-success">
                                                            @item.Date
                                                        </span>
                                                    </a>
                                                </div>

                                                <div>
                                                    @*<i class="fas fa-comment bg-primary"></i>*@

                                                    <div class="timeline-item">
                                                        <div class="timeline-body">
                                                            @item.Comment
                                                        </div>
                                                    </div>
                                                </div>
                                             }

                                            <div>
                                                <i class="far fa-clock bg-gray"></i>
                                            </div>
                                        </div>
                                        <a href="/CertificateAwards/CerAwardAdd" class="btn btn-info btn-sm">New Add Certificate&Awards </a>
                                    </div>
                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </section>

</body>
</html>


