@using AdminPanelliDinamikCV_App.Models.Entity
@model List<CertificateAwards>

<div class="resume-section-content">
    <h2 class="mb-5">Awards & Certifications</h2>
    <ul class="fa-ul mb-0">
        @foreach (var cA in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
               @cA.Comment
            </li>

        }

    </ul>
</div>
