
@{
    ViewBag.Title = "adminAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Create New User</h4>
<br />

<form method="post">
    <input type="text" name="UserName" class="form-control" placeholder="Enter the UserName" />
    <br />
    <input type="password" name="Password" class="form-control" placeholder="Enter the password" />
    <br />
    <button class="btn btn-info">Add</button>
</form>